<div class="py-20 bg-gray-50">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">

            <!-- Title -->
            <div class="text-center mb-16">
                  <h2 class="text-4xl font-semibold text-gray-900">Our Values</h2>
            </div>

            <!-- Values Grid -->
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
                  @for (v of values; track v.title) {
                  <app-our-values-card [value]="v"></app-our-values-card>
                  }
            </div>
      </div>
</div>