<div class="py-20 bg-white">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">

            <div class="grid grid-cols-1 md:grid-cols-2 gap-10">

                  <!-- Mission -->
                  <div class="gradient-primary-header rounded-2xl p-8 shadow text-white shadow-sm hover:shadow-md transition-all duration-300">
                        <div class="flex items-center gap-4 mb-4">
                              <div class="w-12 h-12  rounded-xl flex items-center justify-center shadow-md">
                                    <i class="fa-solid fa-bullseye text-white text-2xl"></i>
                              </div>
                              <h3 class="text-2xl font-semibold  ">Our Mission</h3>
                        </div>

                        <p class=" leading-relaxed text-lg">
                              Simplify the real estate search journey and provide a smooth and trustworthy experience
                              for all parties — seekers, owners, brokers, and developers.
                        </p>
                  </div>

                  <!-- Vision -->

                  <div class="gradient-primary-header rounded-2xl p-8 shadow text-white shadow-sm hover:shadow-md transition-all duration-300">
                        <div class="flex items-center gap-4 mb-4">
                              <div class="w-12 h-12 rounded-xl flex items-center justify-center shadow-md">
                                    <i class="fa-solid fa-eye text-white text-2xl"></i>
                              </div>
                              <h3 class="text-2xl font-semibold  ">Our Vision</h3>
                        </div>

                        <p class="leading-relaxed text-lg">
                              To be the leading real estate platform in Egypt and the Middle East, relying on artificial
                              intelligence and full transparency.
                        </p>
                  </div>

            </div>

      </div>
</div>
